<h1>Edit Customer</h1>

<% if @customer.errors.present? %>
<p>
  <h2>There was an error</h2>
  <% for error in @customer.errors.full_messages %>
    <%= error %>
  <% end %>
</p>
<% end %>

<center><p><%= link_to "View all customers", admin_customers_path %></p></center>


<%= form_for [:admin, @customer] do |f| %>
  
  <%= f.label :name %>
  <%= f.text_field :name %>
  
  <%= f.label :email %>
  <%= f.text_field :email %>
  
  <%= f.label :zip_code %>
  <%= f.text_field :zip_code %>

  <%= f.label :state %>
  <%= f.text_field :state %>

  <%= f.submit %>
<% end %>