<h1>Customers</h1>



<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Zip code</th>
    <th>State</th>
    <th>Created at</th>
    <th>Updated at</th>
  </tr>
  <% for customer in @customers %>
    <tr>
      <td><%= link_to customer.id, admin_customer_path(customer) %></td>
      <td><%= link_to customer.name, admin_customer_path(customer) %></td>
      <td><%= customer.email %></td>
      <td><%= customer.zip_code %></td>
      <td><%= customer.state %></td>
      <td><%= customer.created_at.strftime("%b %e, %l:%M %p") %></td>
      <td><%= customer.updated_at.strftime("%b %e, %l:%M %p") %></td>
    </tr>
  <% end %>

  <%= link_to "Add new customer", new_admin_customer_path %>

</table>


